# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
maze/.vs/maze/v16/Browse.VC.db
maze/.vs/maze/v16/Browse.VC.db-shm
maze/.vs/maze/v16/Browse.VC.db-wal
maze/.vs/maze/v16/Browse.VC.opendb
maze/maze.vcxproj
maze/maze.vcxproj.filters
maze/maze.vcxproj.user
*.tlog
maze/.vs/maze/v16/.suo
*.log
*.ilk
*.ipch
*.pdb
*.idb
*.recipe
maze/Debug/maze.vcxproj.FileListAbsolute.txt
